absl-py==0.14.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
attrs==21.4.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach==4.1.0
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1611195606760/work
brotlipy==0.7.0
cachetools==4.2.2
Cartopy @ file:///tmp/build/80754af9/cartopy_1612289465205/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1625835293160/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093490430/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
clang==5.0
cmdstanpy==0.9.68
convertdate==2.4.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851476134/work
cycler==0.10.0
Cython==0.29.25
dataclasses==0.6
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml==0.7.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
ephem==4.1.3
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.40.0
h5py==3.1.0
hijri-converter==2.2.3
holidays==0.13
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
importlib-resources==5.4.0
install==1.3.5
ipykernel @ file:///tmp/build/80754af9/ipykernel_1633545412716/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1630172518090/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1610146791023/work
Jinja2==3.0.3
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsonschema==4.4.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1630690655192/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1631852756538/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
Markdown==3.3.4
MarkupSafe==2.1.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1628003481308/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
munkres==1.1.4
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
neuralprophet @ git+https://github.com/ourownstory/neural_prophet.git@868e3f23c2a565ea14d54fdea2ff6d199f30a5c8
notebook==6.4.8
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1614971340455/work
numpy==1.19.5
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1602493092676/work
prometheus-client==0.13.1
prompt-toolkit @ file:///Users/ktietz/demo/mc3/conda-bld/prompt-toolkit_1629146841569/work
prophet==1.0.1
protobuf==3.18.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydot==1.2.4
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
PyMeeus==0.5.11
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.18.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1610646860606/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291447907/work
pystan==2.19.1.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pyzmq==19.0.2
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617107864/work
scipy @ file:///tmp/build/80754af9/scipy_1630606796110/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
Send2Trash==1.8.0
setuptools-git==1.2
Shapely @ file:///tmp/build/80754af9/shapely_1632813486044/work
sip==4.19.13
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
torch==1.10.2
torch-lr-finder==0.2.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094706440/work
tqdm==4.62.3
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typing-extensions==3.7.4.3
ujson==5.1.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
zipp==3.7.0
